/* Styles for the pledge elements */
.row-caller {
    height: 44px;
}
.col-caller {
    height: 44px;
    line-height: 44px;
    font-size: 1.5em;
    padding-left: 10px;
    padding-right: 0px;
}
.col-pledge {
    height: 44px;
    line-height: 44px;
    padding: 0px 0px;
}
.col-pldg {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 1.1em;
    text-align: center;
    display: inline-block;
}
.col-pl {
    border: 2px solid blue;
    color: blue;
}
.col-cc {
    border: 2px solid red;
    color:red;
}
.col-gr {
    border: 2px solid green;
    color: green;
}

/* Styles for main elements */
body {
    font-family: 'Roboto', sans-serif;
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar#top-nav {
    margin-bottom: 0px;
    border-radius: 0%;
}
.row.row-main {
    padding-left: 50px;
    padding-right: 50px;
}

/* Styles for footer */
#footer {
    border-width: 0px;
}
#footer p {
    width: 100%;
    text-align: center;
}
#footer p a {
    border-bottom: 1px dotted white;
    color: white;
}
#footer p a:hover, footer p a:focus {
    border-bottom: 1px solid white;
    text-decoration: none;
    color: white;
}
#footer p i.fa-heart {
    color: red;
}

/* Responsive stuff for tablet and mobile */
@media only screen and (max-width:800px) {
    .row.row-main {
        padding-left: 25px;
        padding-right: 25px;
    }
}
@media only screen and (max-width:500px) {
    .row.row-main {
        padding-left: 10px;
        padding-right: 10px;
    }
}